*
    margin: 0
    padding: 0
    box-sizing: border-box

.appContainer
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.appContainer_theme
    background-color: #555

.calculator
    display: flex
    flex-direction: column
    width: 350px
    max-height: 500px

.calculator_theme
    background-color: black
    border: 2px solid orange

.display
    margin: 4px
    margin-bottom: 0px

.display__field
    width: 338px
    height: 36px
    display: flex
    flex-direction: column
    justify-content: center 

.display__field_theme
    background-color: #555

.display__text
    display: block
    margin-right: 8px
    text-align: right

.textContent
    font-family: Verdana, Geneva, Tahoma, sans-serif
    font-size: 1.25em

.display_result_theme
    color: orange

.display_input_theme
    color: white

.buttonsContainer
    margin: 4px
    display: grid
    grid-template-areas: "buttonID_clear buttonID_clear buttonID_divide buttonID_multiply" "buttonID_7 buttonID_8 buttonID_9 buttonID_subtract" "buttonID_4 buttonID_5 buttonID_6 buttonID_add" "buttonID_1 buttonID_2 buttonID_3 buttonID_equals" "buttonID_0 buttonID_0 buttonID_decimal buttonID_equals"

//Генерирую классы для кнопок цифр от 0 до 9
@for $i from 0 through 9 
    .buttonID_#{$i}
        grid-area: buttonID_#{$i}

//Генерирую классы для кнопок операций из массива имён
$arrayNames: (equals, add, subtract, multiply, divide, decimal, clear)
@each $name in $arrayNames
    .buttonID_#{$name}
        grid-area: buttonID_#{$name}

.button
    min-height: 70px
    display: flex
    align-items: center
    justify-content: center

.button_theme
    background-color: #555
    border: 1px solid black
    color: white
    cursor: pointer

.button_theme:hover
    border: 1px solid #ccc
    color: orange






